/* company intro section---------------------------------------------------------------- */

.intro-first {
    width: 100%;
    justify-content: space-evenly;
}

.intro-para {
    text-align: center;
    width: 90%;
}

.intro-para h1 {
    font-size: 3rem;
    color: white;
}

.intro-para p {
    font-size: 1.5rem;
    color: white;
}