/* <!-- Popular services content <section--------------------------------------------------------------------------------------------> */

.background-pop-it-services {
    background-image: linear-gradient(to bottom right, #060606, #242424, #333333, #333333, #242424, #060606);
}

.pop-it-serv-content {
    width: 70%;
    max-width: 65rem;
    margin: auto;
}

.pop-it-serv-content h5 {
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

.pop-it-serv-content h1 {
    font-size: 1.4rem;
    color: white;
}

.pop-it-serv-content h2 {
    font-size: 1.1rem;
    color: white;
}

.pop-it-serv-content p {
    font-size: 1rem;
    color: white;
}

hr {
    color: #FFC000;
    width: 100%;
    margin: 5px 0px;
}