/* banner section==------------------------------- */

.banner {
    width: 100%;
    height: 70vh;
    background: url(/media/service-details-banner.jpg) no-repeat center/cover;
    margin-bottom: 25px;
}

.shade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #2b124c, #2b124c97, #522b5b00);
}

.banner-container {
    width: 60%;
}

.banner-head h1 {
    color: white;
    font-size: 4rem;
}

.banner-head h4 {
    color: white;
    font-size: 2rem;
}

.banner-head h4 a {
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
}

.banner-head h4 a:hover {
    color: #854f6c;
}


/* computer rental services------------------------------- */

.rental-services {
    width: 70%;
    margin: auto;
    padding: 10px;
}

.rental-services h1 {
    font-size: 1.8rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

.rental-services h2 {
    font-size: 1.3rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

.rental-services p {
    font-size: 1rem;
    color: white;
    margin: 5px;
    padding: 5px;
}


/* <!-- main serviecs section----------------------- --> */

.content-container {
    width: 85%;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.h-w {
    margin: 10px;
    padding: 5px;
}

.content-columns-1 {
    width: 40%;
}

.service-form {
    margin: 10px;
    padding: 10px;
}

.service-form h1 {
    font-size: 2rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

.service-form input[type=text] {
    border: #c198d9 solid 0.5px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
}

.service-form input[type=email] {
    border: #c198d9 solid 0.5px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
}

.service-form textarea {
    border: #c198d9 solid 0.5px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
}

.service-form ::placeholder {
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

.btn {
    border-radius: 5px;
    background-color: #2b124c;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px;
    transition: all ease-in-out 0.4s;
}

.btn i {
    color: white;
    padding: 5px;
}

.btn:hover {
    color: white;
    background-color: #522b5b;
    box-shadow: 1px 1px 50px #522b5b;
}

.service-buttons {
    margin: 10px;
    padding: 10px;
}

.service-buttons a {
    text-decoration: none;
}

.service-buttons .s-b {
    margin: 10px;
    padding: 5px;
    background-color: #2b124c;
    border: solid 0.5px #c198d9;
    border-radius: 5px;
    box-shadow: 0px 1px 15px black;
    transition: all ease-in-out 0.3s;
}

.service-buttons .s-b:hover {
    background-color: #522b5b;
    box-shadow: 1px 1px 50px #522b5b;
}

.service-buttons .s-b p {
    color: white;
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
}

.content-columns-2 {
    width: 50%;
}

hr {
    color: #c198d9;
    width: 100%;
    margin: 5px;
}

.service-details {
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.service-details h1 {
    font-size: 2rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

.service-details h2 {
    font-size: 1.5rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

.service-details p {
    font-size: 1.1rem;
    color: white;
    margin: 5px;
    padding: 5px;
}


/* footer section -------------------------------- */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom right, #2b124c, #5f3169, #5f3169, #2b124c);
    margin-top: 20px;
    border: solid 0.5px #c198d9;
    border-radius: 15px 15px 0px 0px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-1 {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.column-1 h1 {
    color: #c198d9;
    font-size: 1.8rem;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.column-1 ul li {
    list-style: none;
}

.column-1 ul li a {
    display: flex;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.column-1 ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3ce0ef;
    padding: 5px;
    margin: 5px;
}

.column-1 ul li p {
    font-size: 1.1rem;
    color: white;
    margin: 5px;
    padding: 5px;
}

.column-1 ul li a:hover {
    transform: scale(1.2);
}

.column-3 ul {
    color: white;
    font-size: 1.1rem;
    margin: 5px;
    padding: 5px;
}

.column-3 li {
    list-style: none;
}

.column-3 li a {
    color: #c198d9;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.column-3 li a:hover {
    color: white;
}

.column-4 {
    width: 40%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.column-4-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* .column-4 h1 {
  font-weight: 10px;
  font-family: serif;
  color: transparent;
  font-size: 4rem;
  background-image: url(/media/space.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 5px;
  padding: 5px;
  color: #cdb466;
} */

.column-4 img {
    width: 220px;
    height: 173px;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.socialmedia i {
    padding: 5px;
    margin: 10px;
    color: white;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.socialmedia i:hover {
    color: #854f6c;
    transform: scale(1.2);
}


/* copyright section -------------------- */

.copyright {
    width: 100%;
    background-color: #2b124c;
    text-align: center;
    border: 0.5px solid #c198d9;
}

.copyright h1 {
    color: #c198d9;
    font-size: 1.2rem;
    margin: 5px;
    padding: 5px;
}


/* go to top button--------------------------------------------- */

.go-to-top {
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to bottom, #2b124c, #854f6c);
    border-radius: 50%;
    border: 0.5px solid #c198d9;
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-align: center;
}

.go-to-top i {
    color: white;
    font-size: 1.2rem;
    margin: 2px;
    padding: 5px;
}


/* empty div------------------------------- */

.empty {
    height: 20px;
}