<center class="card-box">
    <section class="our-ratings">
        <div class="our-achivements">
            <img src="/media/dimaond.png" alt="" />
            <h1>496 +</h1>
            <h3>Project Completed</h3>
        </div>
        <div class="our-achivements">
            <img src="/media/star.png" alt="" />
            <h1>360 +</h1>
            <h3>5 star Ratings</h3>
        </div>
    </section>
    <center class="card-container">
        <div class="card-box-heading">
            <h2>POPULAR IT SERVICES</h2>
            <h1>Solutions For IT Business</h1>
        </div>

        <a href="{% url 'popular_service' %}">
            <div class="service-card">
                <div class="service-card-img">
                    <img src="/media/it-services.jpg" alt="" />
                    <div class="hover-img">
                        <h3>
                            We Provide The best IT Mangament Service. Alays Ready To Help You. We Keep Your Business Running Efficiency
                        </h3>
                    </div>
                </div>
                <h1>Manage IT Services</h1>
            </div>
        </a>
        <a href="{% url 'popular_service' %}">
            <div class="service-card">
                <div class="service-card-img">
                    <img src="/media/product-engineering.jpg" alt="" />
                    <div class="hover-img">
                        <h3>
                            We are proud of our scope of services and unmatched customer service and look forward to working with you for all of your business rental needs
                        </h3>
                    </div>
                </div>
                <h1>Product Engineering</h1>
            </div>
        </a>
        <a href="{% url 'popular_service' %}">
            <div class="service-card">
                <div class="service-card-img">
                    <img src="/media/digital-marketing.jpg" alt="" />
                    <div class="hover-img">
                        <h3>
                            Reach Out More Customers Across Any Platform, Anywhere. Market, Sale, Service of IT/IOT Products & Solutions, Backed By OEM Partnerships.
                        </h3>
                    </div>
                </div>
                <h1>Digital marketing</h1>
            </div>
        </a>
    </center>
</center>
