<div class="achivement-box wd-page my20">
  <div class="achivement-box-head wd-page my20">
      <h1 class="mpt-5">We Have Surity To Provide You</h1>
  </div>
  <div class="achivement-box-content flex wd-page">
      <div class="achivements-card flex-col">
          <lord-icon src="https://cdn.lordicon.com/rsbokaso.json" trigger="hover" style="width:120px;height:120px"
              colors="primary:#FFD700">
          </lord-icon>
          <h1 class="mpt-5">Easy Rental Process</h1>
      </div>
      <div class="achivements-card flex-col">
          <lord-icon src="https://cdn.lordicon.com/xirobkro.json" trigger="hover" style="width:120px;height:120px"
              colors="primary:#FFD700">
          </lord-icon>
          <h1 class="mpt-5">Choose Your Laptop or PC</h1>
      </div>
      <div class="achivements-card flex-col">
          <lord-icon src="https://cdn.lordicon.com/piwupaqb.json" trigger="hover" style="width:120px;height:120px"
              colors="primary:#FFD700">
          </lord-icon>
          <h1 class="mpt-5">Flexible Rentals</h1>
      </div>
      <div class="achivements-card flex-col">
          <lord-icon src="https://cdn.lordicon.com/odavpkmb.json" trigger="hover" style="width:120px;height:120px"
              colors="primary:#FFD700">
          </lord-icon>
          <h1 class="mpt-5">Placae Order</h1>
      </div>
      <div class="achivements-card flex-col">
          <lord-icon src="https://cdn.lordicon.com/qvyppzqz.json" trigger="hover" style="width:120px;height:120px"
              colors="primary:#FFD700">
          </lord-icon>
          <h1 class="mpt-5">On Time Delivery</h1>
      </div>

  </div>
</div>
