<div class="home-banner flex-center-col wd-page">
  <div class="header-text-container">
      <h1><strong>S</strong>aturian</h1>
      <h1><strong>G</strong>lobal</h1>
  </div>
  <div class="lower-text-container">
      <h3>Let's Take a Step to Connect With Digital World</h3>
  </div>
  <div class="banner-info-liks-container flex-center-col">
      <div class="info-link-1 flex">
          <a class="mpt-5 flex" href="Contact.html">
              <lord-icon src="https://cdn.lordicon.com/xzalkbkz.json" trigger="hover"
                  style="width:30px;height:30px" colors="primary:#FFD700;">
              </lord-icon>
              <h4 class="mpt-5">Contact us</h4>
          </a>
          <a class="mpt-5 flex" href="https://maps.app.goo.gl/DSfwguAsY2qvo5eR8" target="_blank">
              <lord-icon src="https://cdn.lordicon.com/surcxhka.json" trigger="hover"
                  style="width:30px;height:30px" colors="primary:#FFD700;">
              </lord-icon>
              <h4 class="mpt-5">Visit us</h4>
          </a>
      </div>
      <div class="info-link-2 info-link-1">
          <a class="mpt-5 flex" href="About.html">
              <lord-icon src="https://cdn.lordicon.com/prjooket.json" trigger="hover"
                  style="width:30px;height:30px" colors="primary:#FFD700;">
              </lord-icon>
              <h4 class="mpt-5">About us</h4>
          </a>
      </div>
  </div>
</div>