<section class="carousel-box" id="carousel">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active slide-1" data-bs-interval="10000">
          <img src="/media/slide1.jpg" class="d-block w-100 slide-1" alt="..." />
          <div class="carousel-text">
            <h5>IT Solutions</h5>
            <h5>For Grow Your Business.</h5>
            <p>We Have 5 Years Of Experience In IT Solutions</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/media/slide2.jpg" class="d-block w-100 slide-2" alt="..." />
          <div class="carousel-text">
            <h5>Let's Take a Step</h5>
            <h5>To Connect With Digital World</h5>
            <p>
              We Are Ready For Future With Our IT Services and Infrastructure.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/media/slide3.jpg" class="d-block w-100 slide-3" alt="..." />
          <div class="carousel-text">
            <h5>Get Updated</h5>
            <h5>With New Technologies</h5>
            <p>
              Contribute With Us To Get Updated With New Technology And Future
              Ready.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/media/slide4.jpg" class="d-block w-100 slide-4" alt="..." />
          <div class="carousel-text">
            <h5>We Provide</h5>
            <h5>Best Rental Services</h5>
            <p>We Have Some Agressive Deals On PC's & Othere Accessories.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>