{% extends 'base.html' %}

{% block start %}

  <!-- banner section-------------------------- -->

  <section class="banner" id="banner">
    <aside class="shade">
      <div class="banner-container">
        <div class="banner-head">
          <h1>
            Contact Us
          </h1>
          <h4><a href="{% url 'home' %}">Home</a>/Contact Us</h4>
        </div>
      </div>
    </aside>
  </section>

  <!-- contact card-----------section------- -->

  <section class="contact-container" data-aos="fade-up">
    <div class="contact-card" >
      <div class="card-img">
        <i class="fa fa-phone"></i>
      </div>
      <div class="card-info">
        <h1>Call Us For Any Enquiry</h1>
        <!-- for contact -->
        <p>For Contact : <a href="tel:+91-9667791091">+91-9667791091</a>
          <!-- contact -->
          <br>
          <a href="tel:01146535346">+91-01146535346</a>
        </p>
        <!-- for complaints & service -->
       <p>For Complaint & Service : <a href="tel:+91-8130980016">+91-8130980016</a></p>
        <!-- querries   -->
       <p>Your Querries : <a href="tel:+91-7982912295">+91-7982912295</a></p>
      </div>
    </div>

    <div class="contact-card" >
      <div class="card-img">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="card-info email-address">
        <h1>For Business Support</h1>
        <p><a href="mailto:Galaxy.solution2000@gmail.com" target="_blank">Galaxy.solution2000@gmail.com</a></p>
        <p><a href="mailto:Info@saturianglobal.com" target="_blank">Galaxy.solution2000@gmail.com</a></p>
        <p><a href="mailto:contact@Saturiannglobal.com" target="_blank">Contact@Saturianglobal.com</a></p>
      </div>
    </div>

    <div class="contact-card " >
      <div class="card-img">
        <i class="fas fa-map-marked-alt"></i>
      </div>
      <div class="card-info office-address">
        <h1>Visit Here</h1>
        <p><a href="https://maps.app.goo.gl/DSfwguAsY2qvo5eR8" target="_blank">B 57, Pocket B, Okhla Phase I, Okhla Industrial Estate, New Delhi, Delhi 110020</a></p>
      </div>
    </div>

  </section>

  <div class="empty"></div>


  <!-- google maps section----------------------- -->

  <center class="maps" data-aos="fade-up">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3505.2749114494063!2d77.27761057549715!3d28.531455475720065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDMxJzUzLjIiTiA3N8KwMTYnNDguNyJF!5e0!3m2!1sen!2sin!4v1695788710011!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </center>


  <div class="empty"></div>
  <div class="empty"></div>
  <!-- contact form section------------------------------------// -->

  <center class="contact-form" data-aos="fade-up">
    <section class="form-head">
      <h1>Contact Us Directly</h1>
      <h3>Let Us Know Your Requirements</h3>
    </section>
    <form action="{% url 'contact' %}" method="post">
      {% csrf_token %}
    <input type="text" name="name" id="fullname" placeholder="Full Name"><br>
    <input type="email" name="email" id="email" placeholder="Email Address"><br>
    <input type="text" name="contact" id="phone" placeholder="Phone"><br>
    <input type="text" name="subject" id="Subject" placeholder="Enter Subject"><br>
    <textarea name="message" id="" cols="30" rows="10" placeholder="Write a Message . . ."></textarea><br>
    <button class="btn" type="submit"> Send Message <i class="fas fa-arrow-right"></i></button>

  </form>
  </center>


{% endblock start %}