{% extends 'base.html' %}

{% block start %}

<div class="empty"></div>
<div class="empty"></div>
<div class="empty"></div>


<div class="bread-crumb" id="bread-crumb">

  <h2>
    <a href="Home.html">Home    /</a>{{filter}}
  </h2>
</div>

<div class="heading-of-product">
  <!-- <h1>We Provide Best Rental Services on Printers and Othere Accessories.</h1> -->
</div>



<div class="product-card-container">
    {% for item in  items %}
    <div class="card" style="width: 18rem;">
      <div class="card-body-1">
        <img src="/media/{{item.image}}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h6 class="apple">{{item.categories.name}}</h6>
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <!-- <button class="btn-def" >
          <a href=""> </a>
        </button> -->
        <button type="button" class="btn btn-def" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mdo">Request Quote <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
    {% endfor %}
</div>


<!-- quotqtion modal----------------------------------------------------- -->

{% include 'quotqtion.html' %}

{% endblock start %}