 <!-- footer section------------------------------------------------// -->

 <footer class="footer">
    <section class="footer-container">
      <div class="column-1">
        <h1><strong>About Company</strong></h1>
        <ul>
          <li><a href="{% url 'services' %}"><i class="fa fa-receipt"></i>
              <p>Services</p>
            </a></li>
          <li><a href="{% url 'about' %}"><i class="fa fa-receipt"></i>
              <p>About</p>
            </a></li>
          <li><a href="{% url 'contact' %}"><i class="fa fa-receipt"></i>
              <p>Contact Us</p>
            </a></li>
          <li><a href="https://www.bestgalaxyitsolutions.com"><i class="fa fa-receipt"></i>
              <p>More With Galaxy IT Solutions</p>
            </a></li>
        </ul>
      </div>
      <div class="column-2 column-1">
        <h1><strong>Explore More</strong></h1>
        <ul>
          <li><a href="{% url 'details' %}?category=Laptop"><i class="fa fa-receipt"></i>
              <p>PC For Rent</p>
            </a></li>
          <li><a href="{% url 'popular_service' %}"><i class="fa fa-receipt"></i>
              <p>Digital Marketing</p>
            </a></li>
          <li><a href="{% url 'popular_service' %}"><i class="fa fa-receipt"></i>
              <p>Product Engineering</p>
            </a></li>
          <li><a href="{% url 'service_detail' %}"><i class="fa fa-receipt"></i>
              <p>Customize Your PC</p>
            </a></li>
        </ul>
      </div>
    </section>
    <div class="column-3">
      <ul>
        <p>Mail Us Your Querries on</p>
        <li> <a href="mailto:Info@Saturiannglobal.com" target="_blank">Info@Saturiannglobal.com</a></li>
        <li><a href="mailto:contact@Saturiannglobal.com" target="_blank">Contact@Saturiannglobal.com</a></li>
    </div>
    <div class="column-4">
      <div class="column-4-flex">
        <!-- <h1><strong>Saturian Global</strong></h1> -->
        <img src="/media/saturian.png" alt="saturian logo">
        <div class="socialmedia">
          <a href="https://www.instagram.com/saturian_global?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i
              class="fab fa-instagram fa-lg"></i></a>
          <a href="" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="http://www.linkedin.com/in/saturian-global-49889428a" target="_blank"><i
              class="fab fa-linkedin fa-lg"></i></a>
        </div>
      </div>
    </div>

  </footer>
  <!-- copyright section ----------------------->
  <div class="copyright">
    <h1>Copyright @2023 SATURIAN GLOBAL</h1>
  </div>


  <!-- go to top button--------------------------------------- -->
  <a href="#carousel">
    <div class="go-to-top">
      <i class="fas fa-long-arrow-alt-up"></i>
    </div>
  </a>
