<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<img  style="height: 200px; width: 370px;" src="https://i.postimg.cc/MZgWnv3X/Screenshot-2023-12-30-182658.png" alt="saturian global">

<p>	Saturian global</p>
<p>Dear <strong>{{name}}</strong>,</p>
<p>
	Welcome to Saturiann Global! We are delighted to have you on board and are committed to providing you with excellent service and support.
	<br>
	As a valued customer, we want to ensure that your experience with us is seamless and enjoyable.
	<br>
	We appreciate your trust in Saturian Global, and we look forward to serving you. Thank you for choosing us as your technology partner.
</p>

<p>Please keep this information handy for any future reference or assistance you may require.</p>
<p>If you have any questions about your PC or need technical support, feel free to contact our dedicated support team at:</p>
<p>Support Email: <a href="mailto:Info@Saturiannglobal.com" target="_blank">Info@Saturiannglobal.com</a>
	<br>
	Support Phone: <a href="tel:+91-9667791091">+91-9667791091</a></p>

<p>
	For general inquiries or information, you can reach us at:
	<br>
Customer Service Email:<a href="mailto:contact@Saturiannglobal.com" target="_blank">Contact@Saturiannglobal.com</a>
<br>
Customer Service Phone: <a href="tel:01146535346">01146535346</a>,<a href="tel:+91-7982912295">+91-7982912295</a>
</p>

<address>B 57, Pocket B, Okhla Phase I, Okhla Industrial Estate, New Delhi, Delhi 110020</address>
Best regards,

</body>
</html>