{% extends 'base.html' %}

{% block title %}Saturian Global{% endblock %}

{% block meta %}
<meta name="description" content="GALAXY IT SOLUTIONS delivers support services to millions of customers
globally and its services are available on demand.">
<link rel="icon" href="/media/saturian.png">
<meta name="keywords" content="Buy, Rent, Business, PC , Tablets, Laptop ">
{% endblock %}

{% block start %}

<!-- carousel section----------------------------------------------------------- -->

{% include 'carousel.html' %}

<!-- main services section---------------------- -->

{% include 'service_card.html' %}

<!-- middle section-------------? -->

{% include 'short_about.html' %}

<!-- Achivements box---------------------------------------------------------- -->

<div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>

<!-- seervice card section----------------------- -->

{% include 'about_card.html' %}

<div class="empty"></div>

<!-- accordian section=----------------------------------------------------------------- -->

{% include 'according.html' %}

<div class="empty "></div>

{% include 'popup.html' %}
{% endblock start %}
