{% extends 'base.html' %}

{% block title %}Product - Saturian Global{% endblock %}
{% block meta %}

<link rel="icon" href="/media/saturian.png">
<meta name="keywords" content="Buy, Rent, Business, PC , Tablets, Laptop ">
{% endblock %}
{% block start %}

<section class="product-card-container wd-page my10 flex">
    <div class="bread-crumb wd-page" id="bread-crumb">
        <h2 class="mpt-5">
            <a href="index.html">Home </a>/Laptops
        </h2>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/macbook.jpg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Lorem ipusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/laptop.png" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop2.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>
    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/macbook.jpg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Lorem ipusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/laptop.png" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae rec Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
                reprehenderit. usandae iure excepturi doloribus ipsum quisquam Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Nobis, expedita</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop2.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/laptop.png" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae rec Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
                reprehenderit. usandae iure excepturi doloribus ipsum quisquam Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Nobis, expedita</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/macbook.jpg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Lorem ipusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>


    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop2.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>
    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/macbook.jpg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Lorem ipusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>


    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop2.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

    <div class="product-card m-10 flex-col" onclick="window.location.href='Details.html'">
        <div class="card-body-img">
            <img src="/static/media/desktop2.jpeg" class="card-img-top" alt="{{item.name}}">
        </div>
        <div class="card-body-data wd-page">
            <h6 class="laptop mpt-5">Laptop</h6>
            <h5 class="card-title mpt-5">Lorem loem, ipsum dolor.</h5>
            <p class="card-text mpt-5">Loae recusandae iure excepturi doloribus ipsum quisquam.</p>
        </div>
    </div>

</section>

{% endblock start %}