<header id="header">
    <div class="logo-part">
      <a href="{% url 'home' %}">
        <img src="/media/saturian.png " alt="saturian logo" />
        <h1>Saturian Global</h1>
      </a>
    </div>
    <ul id="navbar" class="navbar">
      <li>
        <a href="{% url 'home' %}" class="active">Home</a>
      </li>
      <li>
        <a href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Products
        </a>
        <ul class="dropdown-menu res-drop">
          <li><a class="dropdown-item" href="Product-Apple.html">Apple</a></li>
          <li><a class="dropdown-item" href="Product-Laptops.html">Laptops</a></li>
          <li><a class="dropdown-item" href="Product-Desktops.html">Desktops</a></li>
          <li><a class="dropdown-item" href="Product-Printers.html">Printers</a></li>
          <li><a class="dropdown-item" href="Product-Tablets.html">Tablets</a></li>
          <li><a class="dropdown-item" href="Product-All In One.html">All In One</a></li>
          <li><a class="dropdown-item" href="Product-CCTV.html">CCTV</a></li>
          <li><a class="dropdown-item" href="Product-Scanners.html">Scanners</a></li>
          <li><a class="dropdown-item" href="Product-Projectors.html">Projectors</a></li>
          <li><a class="dropdown-item" href="Product-Servers.html">Servers</a></li>
        </ul>
      </li>
      <li>
        <a href="{% url 'services' %}">Services</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">Contact us</a>
      </li>
      <a href="#" id="close">
        <i class="far fa-times"></i>
      </a>
    </ul>
    <div id="hamburger">
      <i id="bar" class="far fa-outdent"></i>
    </div>
  </header>
