 <!-- popup window form section------------------------------>
 <div class="popup">
    <div class="popup-content">
      <button id="close-popup">&times;</button>
      <div class="div">
        <h2>Let Me Know Your Requirements</h2>
      </div>

      <div class="form">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Contact">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="mb-3">
            <textarea name="content" class="form-control" id="" cols="30" rows="4" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>