 <!-- quotqtion modal----------------------------------------------------- -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Request Quote</h1>
          <button type="button" id="close_btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form">
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Contact">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Enter Time Period ">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Quantity">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Product Name">
                </div>
                <textarea name="content" class="form-control" id="" cols="30" rows="4" placeholder="Details & Specifications"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------- -->
