<div class="service-card-section wd-page flex-center-col">
<div class="service-card-header flex-center-col my10">
  <h1 class="mpt-5">Business Solutions To Grow Your Business.</h1>
  <h2 class="mpt-5">We spesialise in providing IT Solutions for a vast range of
      Masterplace Verticals, Infrastructural Systems, 360° IT Consulting &
      Enterprise Solutions</h2>
</div>
  <div class="service-card-container flex my10 wd-page">
      {% for items in item  %}
      <a href="{% url 'service_detail' %}">
        <div class="info-card flex-center-col my10" data-tilt>
          <img src="/media/{{items.image}}" alt="service card" />
          <h3 class="mpt-5">{{items.name}}</h3>
        </div>
      </a>
      {% endfor %}
   </div>

</div>