{% extends 'base.html' %}

{% block title %}Details - Saturian Global{% endblock %}
{% block meta %}

<link rel="icon" href="/media/saturian.png">
<meta name="keywords" content="Buy, Rent, Business, PC , Tablets, Laptop ">
{% endblock %}
{% block start %}
 <!-- banner section---------------------------- -->

 <section style="background: url(/static/media/service-details-banner.jpg) no-repeat center/cover fixed;"
 class="about-banner" id="about-banner">
 <aside class="shade flex-center">
     <div class="about-banner-head">
         <h1>
             Service Details
         </h1>
         <h4><a href="{% url 'home' %}">Home</a>/Service Details</h4>
     </div>
 </aside>
</section>

  <!-- computer rental services------------- -->
  <div class="rental-service-container flex-center">
    <div class="rental-services">
        <h1 class="mpt-5">Computer Rental Services</h1>
        <h2 class="mpt-5">Coorporate Rentals</h2>
        <p class="mpt-5">A significant portion of the market is driven by corporate clients who rent computers for
            short-term
            projects,
            events, or to meet temporary needs.</p>
        <h2 class="mpt-5">Event Rentals</h2>
        <p class="mpt-5">The event and conference sector accounts for a substantial share of computer rentals,
            particularly for
            trade
            shows, conferences, and exhibitions.</p>
        <h1 class="mpt-5">Types of Computer Rented</h1>
        <h2 class="mpt-5">Laptops</h2>
        <p class="mpt-5">Laptops are the most commonly rented computers due to their portability and versatility.
        </p>
        <h2 class="mpt-5">Desktops</h2>
        <p class="mpt-5">Desktop computer rentals are popular for office setups and educational institutions.</p>
        <hr>
        <h1 class="mpt-5">Printer Accessories</h1>
        <h2 class="mpt-5">Ink Cartridges</h2>
        <p class="mpt-5">These contain the ink used in inkjet printers and are available in various colors.
            Compatible and
            refillable
            cartridges are also popular.</p>
        <h2 class="mpt-5">Toner Cartridges</h2>
        <p class="mpt-5">Used in laser printers, these cartridges contain toner powder for high-quality text and
            image printing.
        </p>
        <h2 class="mpt-5">Printer Cables</h2>
        <p class="mpt-5">USB and other cables are necessary for connecting printers to computers.</p>
    </div>
</div>

  <!-- main serviecs section----------------------- -->

  <section class="content-container wd-page flex">
    <div class="content-columns-1 textcenter m-5">
      <form class="service-form  m-10 p-10" action="{% url 'service_detail' %}" method="post">
        {% csrf_token %}
        <h1>Customize Your PC with Us.</h1>
        <input type="text" name="name" id="fullname" placeholder="Name"><br>
        <input type="email" name="email" id="email" placeholder="Email"><br>
        <input type="text" name="contact" id="ph-number" placeholder="Phone"><br>
        <input type="text" name="subject" id="purpose" placeholder="Purpose..."><br>
        <textarea name="message" id="deails" cols="30" rows="10" placeholder="PC Details..."></textarea>
        <button class="btn" type="submit"> Send Message <i class="fas fa-arrow-right"></i></button>
      </form>
      <div class="service-buttons m-10 p-10">
        <a href="{% url 'service_detail' %}">
          <div class="s-b">
            <p class="mpt-5">Web Development</p>
          </div>
        </a>
        <a href="https://www.globalsaturian.com" target="_blank">
          <div class="s-b">
            <p>More WIth Galaxy IT Solution</p>
          </div>
        </a>
        <a href="{% url 'contact' %}">
          <div class="s-b">
            <p class="mpt-5">Contact Us</p>
          </div>
        </a>
      </div>
    </div>
    <div class="content-columns-2 my20">
      <div class="service-details">
          <h1 class="mpt-5">Service Overview</h1>
          <h2 class="mpt-5">Unlock the Power of Technology with Saturian Global</h2>
          <p class="mpt-5">At Saturian Global, we're your trusted partner in navigating the ever-evolving
              landscape of
              technology.
              Our comprehensive suite of IT services is designed to empower your business, streamline operations,
              and
              enhance your competitive edge. From innovative software development to robust network solutions and
              cutting-edge cybersecurity, we've got you covered</p>
      </div>
      <hr>
      <div class="service-details">
          <h1 class="mpt-5">Network Solutions</h1>
          <h2 class="mpt-5">Seamless Connectivity, Maximum Productivity</h2>
          <p class="mpt-5">A well-designed network is the backbone of any modern business. Saturian Global
              specializes in
              crafting
              scalable and reliable network solutions. We ensure that your data flows smoothly, your communication
              is
              uninterrupted, and your business operates at peak efficiency.</p>
      </div>
      <hr>
      <div class="service-details">
          <h1 class="mpt-5"> Cybersecurity</h1>
          <h2 class="mpt-5">Protecting What Matters Most</h2>
          <p class="mpt-5">In an era of increasing cyber threats, safeguarding your digital assets is
              non-negotiable. Our
              cybersecurity
              experts implement robust measures to protect your data, systems, and reputation. With cutting-edge
              solutions
              and proactive monitoring, we keep your business safe from cyberattacks.</p>
      </div>
      <hr>
      <div class="service-details">
          <h1 class="mpt-5">IT Consulting</h1>
          <h2 class="mpt-5">Your Strategic IT Partner</h2>
          <p class="mpt-5">Confused about your IT roadmap? Our experienced consultants are here to guide you. We
              analyze your
              current
              infrastructure, understand your goals, and provide tailored recommendations. Let us help you make
              informed
              decisions and stay ahead in the tech game.</p>
      </div>
      <hr>
      <div class="service-details">
          <h1 class="mpt-5">24/7 Support</h1>
          <h2 class="mpt-5">Reliable Support When You Need It</h2>
          <p class="mpt-5">Technology doesn't sleep, and neither do we. Saturian Global offers round-the-clock IT
              support to
              ensure
              your business runs smoothly. From troubleshooting to system maintenance, our experts are just a call
              away,
              ready to assist you.</p>
      </div>
  </div>
  </center>




{% endblock start %}