{% extends 'base.html' %}

{% block title %}Services - Saturian Global{% endblock %}
{% block meta %}

<link rel="icon" href="/media/saturian.png">
<meta name="keywords" content="Buy, Rent, Business, PC , Tablets, Laptop ">
{% endblock %}
{% block start %}

  <!-- banner section-------------------------- -->

  <section style="background: url(/media/service-banner.jpg) no-repeat center/cover fixed;"
  class="about-banner" id="about-banner">
  <aside class="shade flex-center">
      <div class="about-banner-head">
          <h1>
              Our Services
          </h1>
          <h4><a href="{% url 'home' %}">Home</a>/Services</h4>
      </div>
  </aside>
</section>
   <!-- service intro section-------------------------------------------------- -->
   <section class="service-intro-section-container flex-center wd-page my10">
    <center class="first-heading-container my10 p-20">
        <h1 class="mpt-5">We Provide The Best IT Solutions For Business With Our 5 Years Of Experience</h1>
        <h3 class="mpt-5">At Saturian Global, we offer a wide range of IT solutions and services that can help you
            achieve your
            business goals and objectives. Whether you need to set up a new IT infrastructure, upgrade your existing
            systems,
            optimize your network performance, secure your data and devices, or automate your processes, we have the
            right
            solution for you.</h3>
    </center>
</section>

  <!-- main services section---------------------- -->

  {% include 'short_about.html' %}

    <!-- contact us card section==================== -->
    <div class="contact-card-container wd-page flex-center-col">
      <div class="contact-card wd-page flex-center-col my20">
          <h1 class="mpt-5 my10">To Get Latest Price Call Us</h1>
          <h1 class="mpt-5 my10">Don't Be Hesitate To Contact Us</h1>
          <a href="tel:+91-9667791091">
              <lord-icon class="my10" src="https://cdn.lordicon.com/srsgifqc.json" trigger="hover"
                  style="width:60px;height:60px" colors="primary:#FFD700">
              </lord-icon>
          </a>
      </div>
  </div>

  <!-- popular aervices section-------------------------- -->

 <div class="popular-services flex-center-col wd-page" data-aos="fade-up">
        <div class="heading wd-page flex-center-col m-5">
            <h1 class="mpt-5">Popular IT Services Provided By</h1>
            <h2 class="mpt-5">Saturian Global</h2>
        </div>
        <section class="service-card-container my10 flex wd-page">
            <div class="about-card flex-center-col m-10">
                <img src="/static/media/sicon2.png" alt="">
                <h1>Manage It Services</h1>
                <p>We Provide The Best IT Management Services.</p>
                <a href="Popular-services.html">Learn More <i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="about-card flex-center-col m-10">
                <img src="/static/media/sicon4.png" alt="">
                <h1>Digital Marketing</h1>
                <p>Reach Out More Customers Across Any Platform, Anywhere.</p>
                <a href="Popular-services.html">Learn More <i class="fa fa-arrow-right"></i></a>
            </div>

            <div class="about-card flex-center-col m-10">
                <img src="/static/media/sicon3.png" alt="">
                <h1>Web Development</h1>
                <p>We Have The Best Consultation in Web Development.</p>
                <a href="Popular-services.html">Learn More <i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="about-card flex-center-col m-10">
                <img src="/static/media/sicon1 (1).png" alt="">
                <h1>Product Engineering</h1>
                <p>We are proud of our scope of services and working.</p>
                <a href="Popular-services.html">Learn More <i class="fa fa-arrow-right"></i></a>
            </div>
        </section>
    </div>

    <!-- web service section------------------------------------------------------ -->
    <div class="web-service-container-section wd-page flex-center">
        <section class="web-service-container p-5 my20">
            <h1 class="mpt-5">We Provide web Development Services</h1>
            <h1 class="mpt-5">With Our Best Web Developer Team.</h1>
            <h3 class="mpt-5">We Have The best Software Solution For The Next Generation</h3>
            <hr>
            <div class="web-framework flex m-5">
                <div class="frontend backend">
                    <h2 class="mpt-5 f-h2">We Can Develope Front-End Using Multiple FrameWorks.</h2>
                    <ul class=" mpt-5  f-ul">
                        <li class="mpt-5">HTML, CSS Framework BootStrap</li>
                        <li class="mpt-5">Tailwind CSS</li>
                        <li class="mpt-5">SCSS (SASS)</li>
                        <li class="mpt-5">React.js</li>
                        <li class="mpt-5">Angular.js</li>
                        <li class="mpt-5">Vuejs</li>
                    </ul>
                </div>
                <div class="frontend backend">
                    <h2 class="mpt-5 f-h2">We Can Develope Back-End Using Multiple FrameWorks.</h2>
                    <ul class="mpt-5 f-ul">
                        <li class="mpt-5">Node.js with MongoDB</li>
                        <li class="mpt-5">Express.js with MongoDB (MERN) </li>
                        <li class="mpt-5">Python FLask And Django</li>
                        <li class="mpt-5">PHP</li>
                        <li class="mpt-5">Wordpress CMS </li>
                        <li class="mpt-5">Strapi CMS</li>
                    </ul>
                </div>
            </div>

            <button class="btn-web mpt-10" data-aos="flip-right">
                <a href="Popular-services.html">LEARN MORE <i class="fa fa-arrow-right"></i> </a>
            </button>
        </section>
    </div>

{% endblock start %}