{% extends 'base.html' %}

{% block start %}

  <!-- banner section-------------------------- -->

  <section class="banner" id="banner">
    <aside class="shade">
      <div class="banner-container">
        <div class="banner-head">
          <h1>
            Our Services
          </h1>
          <h4><a href="{% url 'home' %}">Home</a>/Our Services</h4>
        </div>
      </div>
    </aside>
  </section>

  <!-- service intro section-------------------------------------------------- -->

  <center class="first-heading-container" data-aos="fade-up">
    <h1>We Provide The Best IT Solutions For Budiness With Our 5 Years Of Experience</h1>
    <h3>At Saturian Global, we offer a wide range of IT solutions and services that can help you achieve your
      business goals and objectives. Whether you need to set up a new IT infrastructure, upgrade your existing systems,
      optimize your network performance, secure your data and devices, or automate your processes, we have the right
      solution for you.</h3>
  </center>

  <!-- main services section---------------------- -->

  {% include 'service_card.html' %}

  <div class="empty"></div>
  <div class="empty"></div>

  <!-- popular aervices section-------------------------- -->

  <div class="popular-services" data-aos="fade-up">
    <div class="heading">
      <h1>Popular IT Services Provided By</h1>
      <h2>Saturian Global</h2>
    </div>
    <center class="service-card-container">
      <div class="about-card">
        <img src="/media/sicon2.png" alt="">
        <h1>Manage It Services</h1>
        <p>We Provide The Best IT Management Services.</p>
        <a href="{% url 'popular_service' %}">Learn More <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="about-card">
        <img src="/media/sicon4.png" alt="">
        <h1>Digital Marketing</h1>
        <p>Reach Out More Customers Across Any Platform, Anywhere.</p>
        <a href="{% url 'popular_service' %}">Learn More <i class="fa fa-arrow-right"></i></a>
      </div>

      <div class="about-card">
        <img src="/media/sicon3.png" alt="">
        <h1>Web Development</h1>
        <p>We Have The Best Consultation in Web Development.</p>
        <a href="{% url 'popular_service' %}">Learn More <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="about-card">
        <img src="/media/sicon1 (1).png" alt="">
        <h1>Product Engineering</h1>
        <p>We are proud of our scope of services and working.</p>
        <a href="{% url 'popular_service' %}">Learn More <i class="fa fa-arrow-right"></i></a>
      </div>
    </center>
  </div>

  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>

  <!-- web service section------------------------------------------------------ -->

  <center class="web-service-container" data-aos="fade-up">
    <h1>We Provide web Development Services</h1>
    <h1>With Our Best Web Developer Team.</h1>
    <h3>We Have The best Software Solution For The Next Generation</h3>
    <hr>
    <div class="web-framework">
      <div class="frontend backend">
        <h2 class="f-h2">We Can Develope Front-End Using Multiple FrameWorks.</h2>
        <ul class="f-ul">
          <li>HTml, Css Framework BootStrap</li>
          <li>Tailwind Css</li>
          <li>SCSS (SASS)</li>
          <li>React.js</li>
          <li>Angular.js</li>
          <li>Vuejs</li>
        </ul>
      </div>
      <div class="frontend backend">
        <h2 class="f-h2">We Can Develope Back-End Using Multiple FrameWorks.</h2>
        <ul class="f-ul">
          <li>Node.js with MongoDB</li>
          <li>Express.js with MongoDB (MERN) </li>
          <li>Python FLask And Django</li>
          <li>PHP</li>
          <li>Wordpress CMS </li>
          <li>Strapi CMS</li>
        </ul>
      </div>
    </div>

    <button class="btn-web" data-aos="flip-right">
      <a href="{% url 'home' %}">LEARN MORE <i class="fa fa-arrow-right"></i> </a>
    </button>
  </center>


{% endblock start %}