<center class="middle-section" id="middle-section">
    <h6>ABOUT COMPANY</h6>
    <h1>5 Years of Experience In IT Solutions</h1>
    <p>
        Saturian Global is a leading provider of online technical support services to consumers and small businesses across a wide range of computing and communications devices & software.
    </p>
    <div class="list-view" data-tilt data-tilt-max="5" data-tilt-speed="200" data-tilt-perspective="1500">
        <div class="list-box">
            <video autoplay loop muted>
      <source src="/media/logo-video.mp4" type="video/mp4">
    </video>
        </div>
        <div class="service-list">
            <ul>
                <li>
                    <i class="far fa-check-circle" id="check"></i>
                    <p>Computer Rental Services</p>
                </li>
                <li>
                    <i class="far fa-check-circle" id="check"></i>
                    <p>IT Sales</p>
                </li>
                <li>
                    <i class="far fa-check-circle" id="check"></i>
                    <p>AMC Computer Services</p>
                </li>
                <li>
                    <i class="far fa-check-circle" id="check"></i>
                    <p>Customize Your PC</p>
                </li>
                <li>
                    <i class="far fa-check-circle" id="check"></i>
                    <p>Printers & Accesories</p>
                </li>
            </ul>
        </div>
    </div>
</center>