{% extends 'base.html' %} {% block title %}Product - {{item.name}}{% endblock %}
{% block meta %}

<link rel="icon" href="/media/saturian.png" />
<meta name="keywords" content="Buy, Rent, Business, PC , Tablets, Laptop " />

{% endblock %} {% block start %}

<div class="empty"></div>
<div class="empty"></div>
<div class="empty"></div>

<div class="product-canvas-container wd-page">
  <div class="bread-crumb wd-page" id="bread-crumb">
    <h2 class="mpt-5">
      <a href="{% url 'home' %}">Home</a>/<a href="#"
        >{{item.categories.name}}</a
      >/ &nbsp;&nbsp;&nbsp; {{item.name}}
    </h2>
  </div>

  <div class="canvas flex wd-page">
    <div class="product-img">
      <img src="/media/{{item.image}}" alt="{{item.name}}" />
    </div>
    <div class="product-specs my20 flex-center-col">
      <div class="specification textcenter">
        <h1 class="mpt-5">{{item.name}}</h1>
        <p class="mpt-5">{{item.description|safe }}</p>
      </div>
      <div class="service-provided flex-center-col">
        <div class="s-p-tags my10 textcenter flex-center-col">
          <lord-icon
            src="https://cdn.lordicon.com/zzjjvkam.json"
            trigger="hover"
            style="width: 100px; height: 100px"
            colors="primary:#FFD700"
          >
          </lord-icon>
          Delivery Within 72 Hours
        </div>
        <div class="s-p-tags my10 textcenter flex-center-col">
          <lord-icon
            src="https://cdn.lordicon.com/dndbceuc.json"
            trigger="hover"
            style="width: 100px; height: 100px"
            colors="primary:#FFD700"
          >
          </lord-icon>
          Flexible Rental Tenure
        </div>
        <div class="s-p-tags my10 textcenter flex-center-col">
          <lord-icon
            src="https://cdn.lordicon.com/ghhwiltn.json"
            trigger="hover"
            style="width: 100px; height: 100px"
            colors="primary:#FFD700"
          >
          </lord-icon>
          KYC Document to be Submitted Before Delivery
        </div>

        <button
          type="button"
          class="quotation-btn flex"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@mdo"
        >
          <p class="mpt-5">Request Quote</p>
          <lord-icon
            src="https://cdn.lordicon.com/chhdhony.json"
            trigger="hover"
            style="width: 25px; height: 25px"
            colors="primary:#ffffff"
            stroke="bold"
          >
          </lord-icon>
        </button>
      </div>
    </div>
  </div>
</div>
{% include 'quotqtion.html' %} {% endblock start %}
