/* contact card section=------------------------------- */

.contact-container {
    background: url(/static/media/theme.jpg) center/cover no-repeat fixed;
}

.contact-card-box {
    width: 95%;
    max-width: 650px;
    height: auto;
    background: transparent;
    backdrop-filter: blur(5px);
    background-color: #fffefe1a;
    border: solid 0.5px #DAA520;
    border-radius: 15px;
    box-shadow: 0px 1px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.card-img i {
    font-size: 4rem;
    color: #FFD700;
}

.card-info {
    text-align: center;
}

.card-info h1 {
    color: white;
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
}

.card-info p {
    font-size: 1rem;
    color: white;
    margin: 0px;
    padding: 5px;
}

.card-info p a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 0px;
    padding: 5px;
}

.card-info p a:hover {
    color: #FFD700;
    text-decoration: underline;
}

.office-address p {
    font-size: 1.2rem;
}

.email-address a {
    font-size: 1.1rem;
    color: white;
    overflow: hidden;
    text-decoration: none;
}


/* maps section------------------------------------------- */

.maps {
    width: 85%;
    max-width: 70vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 0px 1px 15px black;
}

.maps iframe {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-end-end-radius: solid 0.5px black;
}


/* contact form section--------------------------------- */

.form-outer-container {
    background: url(/static/media/slide1.jpg) center/cover no-repeat fixed;
}

.form-head {
    margin: 30px;
    width: 70%;
}

.form-head h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.form-head h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.contact-form {
    width: 95%;
    background: transparent;
    backdrop-filter: blur(5px);
    border: solid 0.5px #FFD700;
    border-radius: 15px;
    box-shadow: 0px 1px 15px #000000;
}

.contact-form input[type=text] {
    border: solid 0.5px #FFD700;
    background: transparent;
    backdrop-filter: blur(5px);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 15px black;
    width: 50%;
    color: white;
}

.contact-form input[type=email] {
    border: solid 0.5px #FFD700;
    background: transparent;
    backdrop-filter: blur(5px);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 15px black;
    width: 50%;
    color: white;
}

.contact-form textarea {
    border: solid 0.5px #FFD700;
    background: transparent;
    backdrop-filter: blur(5px);
    margin: 10px;
    box-shadow: 0px 1px 15px black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 50%;
}

::placeholder {
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

.btn {
    /* border: solid 0.5px #c198d9; */
    border-radius: 5px;
    background-color: #FFD700;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px;
    transition: all ease-in-out 0.4s;
}

.btn i {
    color: white;
    padding: 5px;
}

.btn:hover {
    color: white;
    background-color: #FFD700;
    box-shadow: 1px 1px 50px #FFD700;
}