/* computer rental services------------------------------- */

.rental-service-container {
    /* background: url(); */
    background-image: linear-gradient(to bottom right, #060606, #242424, #333333, #333333, #242424, #060606);
}

.rental-services {
    width: 95%;
    max-width: 60rem;
}

.rental-services h1 {
    font-size: 1.8rem;
    color: white;
}

.rental-services h2 {
    font-size: 1.3rem;
    color: white;
}

.rental-services p {
    font-size: 1rem;
    color: white;
}


/* <!-- main serviecs section----------------------- --> */

.content-container {
    background: url(/static/media/slide1.jpg) fixed no-repeat center/cover;
    justify-content: space-evenly;
}

.content-columns-1 {
    width: 30rem;
    max-width: 90%;
}

.service-form h1 {
    font-size: 2rem;
    color: white;
}

.service-form input[type=text] {
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
}

.service-form input[type=email] {
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
}

.service-form textarea {
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px black;
}

.service-form ::placeholder {
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

.btn {
    border-radius: 5px;
    background-color: #FFD700;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px;
    transition: all ease-in-out 0.4s;
}

.btn i {
    color: white;
    padding: 5px;
}

.btn:hover {
    color: white;
    background-color: #FFD700;
    box-shadow: 1px 1px 50px #DAA520;
}

.service-buttons a {
    text-decoration: none;
}

.service-buttons .s-b {
    margin: 10px;
    padding: 5px;
    background-color: #FFD700;
    border: solid 1px #DAA520;
    border-radius: 5px;
    box-shadow: 0px 1px 15px black;
    transition: all ease-in-out 0.3s;
}

.service-buttons .s-b:hover {
    background-color: #FFD700;
    box-shadow: 1px 1px 50px #FFD700;
}

.service-buttons .s-b p {
    color: #DAA520;
    font-weight: 600;
    font-size: 1.5rem;
}

.content-columns-2 {
    width: 40rem;
    max-width: 90%;
}

hr {
    color: #FFD700;
    width: 100%;
}

.service-details h1 {
    font-size: 1.8rem;
    color: white;
}

.service-details h2 {
    font-size: 1.3rem;
    color: white;
}

.service-details p {
    font-size: 1rem;
    color: white;
}